{% extends "layout.html" %}
{% block title %}
    Change Password
{% endblock %}
{% block main %}
    <form action="/change_pass" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_pass" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_pass" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <button class="btn btn-warning mt-2" style="color:#010536" type="submit">Change Password</button>
    </form>
{% endblock %}