{% extends "layout.html" %}
{% block title %}
    Delete Password
{% endblock %}

{% block main %}
    <h2>Delete Password</h2>
    <p>Are you sure you want to delete this password?</p>
    <p>Website: {{ password.website_name }}</p>
    <p>Username: {{ password.username }}</p>
    <form action="/passbank/delete/{{ password.id }}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="/passbank" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}