{% extends "layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}
<div class="about-box">
    <div class="text-left">
        <h1 class="custom-align" style="font-family: 'Krona One', sans-serif;">About Us</h1>
        <p>Welcome to SecurPass Nexus, your trusted partner in password security and management. At SecurPass Nexus, we are dedicated to providing top-notch solutions to help you safeguard your sensitive information and enhance your online security.
        With the ever-growing complexity of digital threats and the increasing number of online accounts, it's crucial to have a reliable tool that can simplify and secure your password management. Our team of experts has developed cutting-edge technologies to offer you a seamless experience in generating strong and unique passwords for every account, storing them securely, and accessing them whenever you need.
        We understand that security and convenience go hand in hand. That's why we've designed our services to strike the perfect balance between robust protection and user-friendly interfaces. Our intuitive PassBank allows you to organize your passwords, making them easily accessible while ensuring they remain encrypted and protected against unauthorized access.
        Whether you're an individual user or a business organization, SecurPass Nexus has the tools and features to meet your password security needs. Join us on this journey towards a safer and more confident online experience. Your security is our priority.</p>
    </div>
 </div>
{% endblock %}