{% extends "layout.html" %}

{% block title %}
    Password Generator
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Password Generator</h2>
                <form id="password-generator-form">
                    <div class="mb-3">
                        <input type="number" class="form-control" id="password-length" min="8" max="128" value="12" placeholder="Password Length" name="password_length">
                    </div>
                    <div class="mb-3">
                        <label for="generated-password" class="form-label">Generated Password</label>
                        <input type="text" class="form-control" id="generated-password" readonly>
                    </div>
                    <button type="button" class="btn btn-primary" id="generate-password-btn">Generate Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/password_generator.js"></script>  <!-- Include your JavaScript file here -->
{% endblock %}
